#computerNumberTitle {
    position: relative;
    /* left: 300px; */
    /* top: -200px; */
    text-align: center;
    width: 200px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
}

#computerNumberBox {
    height: 75px;
    position: relative;
    /* left: 300px; */
    /* top: 20px; */
    text-align: center;
    width: 200px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
}

#scoreBoardTitle {
    position: relative;
    /* left: 600px; */
    /* top: -145px; */
    text-align: center;
    width: 200px;
    height: 70px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
}

#scoreBoardBox {
    height: 75px;
    position: relative;
    /* left: 600px; */
    /* top: -125px; */
    text-align: center;
    width: 200px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
}

#userScoreTitle {
    height: 80px;
    position: relative;
    /* left: 900px; */
    /* top: -290px; */
    text-align: center;
    width: 200px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
}

#userScoreBox {
    height: 75px;
    width: 200px;
    position: relative;
    /* left: 900px; */
    /* top: -275px; */
    text-align: center;
    width: 200px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
}

.container {
    width: 960px;
}

body {
    background-image: url(../images/allflowers.jpg);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    height: 1800px;
    
}

.images-with-numbers {
    /* position: relative; */
    /* left: 230px; */
    /* top: 100px; */
    height: 500px;
    width: 500px;
}

#imagecontainer {
    height: 100px;
}

.btn {
    background-color: #ebd9d5;
    border-color: #c88891;
    color: #c88891;
}

h1 {
    font-family: 'Stylish', sans-serif;
    color: #636482;
    background-color: #ebd9d5; 
    width: 450px;
    text-align: center;
    border-radius: 5px;
    font-size: 55px;
}