#computerNumberTitle {
    position: relative;
    text-align: center;
    width: 200px;
    height: 80px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
    border: solid 1px #c88891;

}

#computerNumberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    position: absolute;
    text-align: center;
    width: 200px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
    border: solid 1px #c88891;
}

#scoreBoardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 200px;
    height: 80px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
    border: solid 1px #c88891;
}

#scoreBoardBox {
    height: 90px;
    position: absolute;
    text-align: center;
    width: 200px;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
    border: solid 1px #c88891;
}

#userScoreTitle {
    height: 80px;
    position: relative;
    text-align: center;
    width: 200px;
    line-height: 30px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    border: solid 1px #c88891;
}

#userScoreBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 200px;
    position: absolute;
    text-align: center;
    line-height: 35px;
    color: #636482;
    background-color: #ebd9d5;
    border-radius: 5px;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
    border: solid 1px #c88891;
}

.container {
    width: 1000px;
    height: 1800px;
}

body {
    background-image: url(../images/allflowers.jpg);
    background-repeat: repeat-y;
    background-size: 100% 35%;
    overflow-y: hidden;    
}

.images-with-numbers {
    height: 240px;
    width: 240px;
    padding-top: 20px;
}

#imagecontainer {
    height: 100px;
}

.btn {
    background-color: #ebd9d5;
    border-color: #c88891;
    color: #c88891;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Stylish', sans-serif;
    color: #636482;
    background-color: #ebd9d5; 
    width: 450px;
    text-align: center;
    border-radius: 5px;
    font-size: 55px;
    border: solid 1px #c88891;
}

@media screen and (max-width: 800px) {
    #computerNumberBox {
      left: 300px;
      top: -260px;
    }
    #scoreBoardBox {
    left: 300px;
    top: -170px;
    }
    #userScoreBox {
    left: 300px;
    top: -80px;
    }
  }