#computerNumberTitle {
    background-color: blue;
    height: 20px;
    width: 150px;
    position: relative;
    left: 600px;
    top: -1000px;
    color: white;
    text-align: center;
    padding: 3px;
}

#computerNumberBox {
    background-color: blue;
    height: 150px;
    width: 156px;
    position: relative;
    left: 600px;
    top: -990px;
}

#scoreBoardTitle {
    background-color: blueviolet;
    height: 20px;
    width: 150px;
    position: relative;
    left: 805px;
    top: -1175px;
    color: white;
    text-align: center;
    padding: 3px;
}

#scoreBoardBox {
    background-color: blueviolet;
    height: 150px;
    width: 156px;
    position: relative;
    left: 805px;
    top: -1165px;
}

#userScoreTitle {
    background-color: violet;
    height: 20px;
    width: 150px;
    position: relative;
    left: 1010px;
    top: -1350px;
    color: white;
    text-align: center;
    padding: 3px;
}

#userScoreBox {
    background-color: violet;
    height: 150px;
    width: 156px;
    position: relative;
    left: 1010px;
    top: -1340px;
}

body {
    height: 590px;
}

#madHatter {
    position: relative;
    left: 200px;
    top: -350px;
}

#whiteRabbit {
    position: relative;
    left: 240px;
    top: -350px;
}